* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: sticky;
  top: 0;
}

.logo {
  font-weight: bold;
  color: #22c55e;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #22c55e;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("img/banner.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* PRODUK */
.produk {
  padding: 40px 20px;
  text-align: center;
}

.produk-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: #020617;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card button {
  padding: 8px;
  background: #22c55e;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* TENTANG */
.tentang {
  padding: 40px;
  text-align: center;
  background: #020617;
}

/* CTA */
.cta {
  padding: 40px;
  text-align: center;
}

.cta button {
  padding: 12px 20px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}

/* RESPONSIVE */
@media(max-width: 768px){
  .hero-text h1 {
    font-size: 28px;
  }
}